:root{
    --font1: rgb(221, 97, 97);
    --font2: rgb(253, 233, 252);
    --box-background: rgb(240, 212, 212);
    --background1: rgb(10, 14, 11);
    /* I decided on this color scheme after looking at several websites and art portfolios. I prefer dark theme with a medium amount of contrast. */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Tahoma, "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif;
}

body {
    background-color: rgb(10, 14, 11);
    /* background: linear-gradient(0.25turn, rgb(253, 183, 183), rgb(236, 236, 236)); I am leaving this code here incase I decide to use the gradient later*/
}

h2 {
    font-size: 3rem;
}

/* -------------------------NAV------------------------- */

nav {
    display: flex;
    color: var(--font1);
    height: 90px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid var(--font1) 2px;
    padding: 0rem calc((100vw - 1300px)/2);
}

h1 {
    color: var(--font1);
    margin-left: 10px;
    
}

.nav-link {
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
    margin-left: auto;
}

.nav-link a {
    padding: 0px 10px 0px;
    color: var(--font1);
}

/* .social-media img {
    width: 30px;
    padding: 20px;
    margin-right: 0%;

}

.social-media {
    max-width: 30px;
    max-height: 30px;
    display: flex;
    margin-right: 100px;
    margin-top: 10px;
} 
This code was for the social media link buttons, but I dont use social media so I am not including it in my website
*/

/* -------------------------HERO------------------------- */

.hero {
    width: 90vw;
    height: 70vh;
    margin: 20px auto 20px;
}

.hero-card {
    flex-direction: column;
    color: var(--font1);
    padding: 10px 10px 10px;
    border: solid black 2px;
    background-image: url(./Screenshot\ 2024-03-16\ 203318.png);
    background-position-y: 25%;
    background-position-x: 25%;
    padding: 10px;
    margin: 20px;
    height: 60vh;
}
.hero-card h2 {
    margin-top: 60px;
}
/* I am using the class: 'hero' for the main project on my website. This will be our challenge week 3 assingment which is technically our first project so I wanted to use this for the main project in my portfolio */
/* -------------------------MAIN------------------------- */

.content {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    height: auto;
    margin: 20px auto 20px ;
}

.card a {
    text-decoration: none;
    
}

/* With the current code I have written, I will be able to add more projects underneath the current 2 on the website using the .card-box and .card classes. I wrote the code in a way that I can easily add new content to the website without having to change anything except the html*/

.card-box {
    flex-direction: column;
    padding: 10px 10px 10px;
    border: solid var(--font1) 2px;
}

/* .card {
    width: 45vw;
    display: flex;
    flex-direction: column;
    height: 30vh;
    border: solid black 2px;
    padding: 10px;
    margin: 20px;
} */

#CSS {
    width: 45vw;
    display: flex;
    flex-direction: column;
    color: var(--box-background);
    height: 40vh;
    border: solid black 2px;
    text-decoration: none;
    padding: 10px;
    margin: 20px;
    background-size: 800px;
    background-image: url(./darkmodeblog.png);
}

#css a {
    color: var(--box-background);
}

#sudoku {
    width: 45vw;
    display: flex;
    flex-direction: column;
    height: 40vh;
    color: var(--font2);
    text-decoration: none;
    border: solid black 2px;
    padding: 10px;
    margin: 20px;
    background-size: 800px;
    background-image: url(https://store-images.s-microsoft.com/image/apps.51614.14043557400480129.785a8c27-f3e7-4873-a3fb-94a2c71337d6.3ec510c9-bd42-4693-a2d2-ab63cf055fee?mode=scale&q=90&h=1080&w=1920);
}

.coming-soon {
    display: none;
    font-size: 3.5rem;
    margin: auto;
    padding: 10px 10px 10px;
    color: var(--font1);
}

.card:hover .coming-soon {
    display: flex;
}

#profile-picture {
    display: flex;
    height: 200px;
    width: 170px;
}

.card:hover {
    cursor: pointer;
    box-shadow: 2px 2px 30px var(--font1);
}

/* .hero-card:hover .coming-soon {
    display: flex;
} */

.hero-card:hover {
    cursor: pointer;
    box-shadow: 2px 2px 30px var(--font1);

    filter: dropshadow(color=var(--box-background), offx=2, offy=2);
}

.nav-link a:hover {
    text-shadow: 2px 2px 20px var(--box-background);
}

.about-me {
    color: var(--font1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 35vw;
    margin-right: 20px;
    margin-left: auto;
    border: solid var(--font1) 2px;
}

.about-me h2 {
    padding: 10px 0px 10px;
}

.about-me p {
    text-align: center;
    padding: 5px 5px 5px;
    line-height: 1.5rem;
}

/* -------------------------FOOTER------------------------- */

footer {
    border-top: solid var(--font1) 2px;
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

footer p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--font1);
}

.contact {
    color: var(--font1);
    margin-top: 20px;
    text-align: center;
}

.contact h3 {
    font-size: 1.7rem;
}

.contact a {
    
    padding: 10px 0px 10px ;
    margin: 10px 0px 10px;
}

.contact a:hover {
    text-shadow: 2px 2px 20px var(--box-background);
}
/* -------------------------MEDIA SCREEN------------------------- */

@media screen and (max-width: 800px){
        .about-me {
        justify-content: center;
        align-items: center;
        max-width: 80vw;
        margin-left: 20px;
        margin-right: auto;
        }

        .card {
            padding: 5px;
        }

        .coming-soon {
            font-size: 2rem;
        }

        .content {
            justify-content: center;
            padding: 0;
        }

        #CSS {
            max-width: 80vw;
            width: 80vw;
            margin: auto;
        }
        #sudoku {
            max-width: 80vw;
            width: 80vw;
            margin: auto;
           
        }

        .nav-link {
            padding: 5px;
            width: 100vw;
            flex-wrap: nowrap;
        }
    }

